@model SysPatrimonioo.Models.DbLocal

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Tem certeza?</h3>
<div>
    <h4>Local</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomelocal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomelocal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descricaolocal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricaolocal)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-dark" /> |
        <a asp-action="Index" class ="btn btn-light">Voltar</a>
    </form>
</div>
