@model SysPatrimonioo.Models.DbFornecedor

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Fornecedor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nomefornecedor" class="control-label"></label>
                <input asp-for="nomefornecedor" class="form-control" />
                <span asp-validation-for="nomefornecedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="endereco" class="control-label"></label>
                <input asp-for="endereco" class="form-control" />
                <span asp-validation-for="endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fone" class="control-label"></label>
                <input asp-for="fone" class="form-control" />
                <span asp-validation-for="fone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class ="btn btn-sucess">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
