@model SysPatrimonioo.Models.DbPatrimonio

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DbPatrimonio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="numetiqueta" class="control-label"></label>
                <input asp-for="numetiqueta" class="form-control" />
                <span asp-validation-for="numetiqueta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nomepatrimonio" class="control-label"></label>
                <input asp-for="nomepatrimonio" class="form-control" />
                <span asp-validation-for="nomepatrimonio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descricaopatrimonio" class="control-label"></label>
                <input asp-for="descricaopatrimonio" class="form-control" />
                <span asp-validation-for="descricaopatrimonio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valorpatrimonio" class="control-label"></label>
                <input asp-for="valorpatrimonio" class="form-control" />
                <span asp-validation-for="valorpatrimonio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idcategoria" class="control-label"></label>
                <input asp-for="idcategoria" class="form-control" />
                <span asp-validation-for="idcategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="iddepartamento" class="control-label"></label>
                <input asp-for="iddepartamento" class="form-control" />
                <span asp-validation-for="iddepartamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idlocal" class="control-label"></label>
                <input asp-for="idlocal" class="form-control" />
                <span asp-validation-for="idlocal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="marcamodelo" class="control-label"></label>
                <input asp-for="marcamodelo" class="form-control" />
                <span asp-validation-for="marcamodelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataaquisicao" class="control-label"></label>
                <input asp-for="dataaquisicao" class="form-control" />
                <span asp-validation-for="dataaquisicao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="databaixa" class="control-label"></label>
                <input asp-for="databaixa" class="form-control" />
                <span asp-validation-for="databaixa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numnf" class="control-label"></label>
                <input asp-for="numnf" class="form-control" />
                <span asp-validation-for="numnf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numserie" class="control-label"></label>
                <input asp-for="numserie" class="form-control" />
                <span asp-validation-for="numserie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="situacao" class="control-label"></label>
                <input asp-for="situacao" class="form-control" />
                <span asp-validation-for="situacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idfornecedor" class="control-label"></label>
                <input asp-for="idfornecedor" class="form-control" />
                <span asp-validation-for="idfornecedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datagarantia" class="control-label"></label>
                <input asp-for="datagarantia" class="form-control" />
                <span asp-validation-for="datagarantia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
